<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  <body>
  <h1>Get ready to see an animal wearing a hat!</h1>
  <form method="POST">
    Choose an animal:<br>
    <input type="radio" name="user_animal" value="dog"> Dog<br>
    <input type="radio" name="user_animal" value="cat"> Cat<br>
     Choose a hat:<br>
    <input type="radio" name="user_hat" value="partaaay"> Party Hat<br>
    <input type="radio" name="user_hat" value="fancy-pants"> Fancy Hat<br>
    <input type="radio" name="user_hat" value="small"> Small Hat<br>
    <input type="submit" value="Show me da animals!">
  </form>  





  </body>
</html>
